.usersWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #282c34;
    background: linear-gradient(183deg, rgba(40,44,52,1) 12%, rgba(31,46,64,1) 100%);
}
.userContainer{
    width: 30vw;
    margin: 20px 50px;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 34px -7px rgba(0,0,0,0.75);
}
.userInfo{
    text-align: center;
    width: 50%;
}


.userImage img{
    width: 200x;
    height: 150px;
    border-radius: 50%;
}


@media only screen and (max-width: 1100px) {
    .userContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }