.footerWrapper {
    min-height: 15vh;
    flex-grow: 1;
    background-color: #1f242c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
};

.socialLinks{
   margin-top: 20px;
}

.socialLinks a{
    margin: 0px 5px;
}